h1 {
  padding: 20px;
  text-align: center;
}

small {
  font-weight: 400;
}

footer {
  text-align: center;
  font-size: 14px;
}

.city {
  display: flex;
  justify-content: space-between;
  margin: 30px auto;
  padding: 10px;
}
.city-image {
  background-image: url("../medias/world.jpg");
  background-size: 800px 600px;
  opacity: 0.9;
  border-radius: 10px;
}

.city-displayed {
  padding-left: 20px;
  color: #dddbdb;
}

.city-examples {
  background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  border-radius: 0px 8px 8px 0px;
  border-color: lightgrey;
}

.city-list {
  margin-top: 20px;
}

.date {
  font-size: 18px;
}

.time {
  font-size: 30px;
  font-weight: 600;
  padding-top: 10px;
}

.time-examples {
  font-size: 30px;
  font-weight: 600;
  padding-top: 10px;
  padding-left: 10px;
}
.city-displayed {
  margin-top: 30px;
}
